doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type='text/javascript', src='//code.jquery.com/jquery-1.12.0.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='//d3js.org/d3.v3.min.js', charset='utf-8')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css', type='text/css')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js')
    script(type='text/javascript', src='/javascripts/jquery-1.11.2.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/c3.css', type='text/css')
    script(src='/javascripts/c3.min.js' )
  body
    include ./navbar.jade
    block content