doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type='text/javascript', src='/javascripts/jquery-1.11.2.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/c3.css', type='text/css')
    script(src='/javascripts/c3.min.js' )
  body
    block content