extends generalLayout

block content
	h1 Upload File

	p Please upload a csv file

	form(action='/upload', enctype='multipart/form-data', method='post')
		input(type='file', name='csvFile', size='30')
		br
		input(type='submit', value='send')